/* By @midudev https://www.youtube.com/watch?v=QR8CVkmJhLU */
:root {
    /* colors */
    --1: red;
    --2: blue;
    --3: deeppink;
    --bck: black;
    --text: white;
}

button {
    background: var(--bck);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: var(--text);
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--1), var(--2), var(--3), var(--2), var(--1), var(--2), var(--3), var(--2), var(--1));
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

button:active {
    transform: scale(95%);
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}