/*kanit (400,900), lato (400,900), teko (300)*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;900&family=Lato:wght@400;900&family=Teko:wght@300&display=swap');

:root {
    --title: hsl(263, 48%, 39%);
    --subtitle: hsl(0, 0%, 20%);
    --regular: hsl(0, 0%, 20%);
    --background-main: hsla(269, 18%, 45%, 0.425);
}

*, ::after, ::before, html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #DFDBE5;
    background-image: url('background.svg');
    height: 100%;
}

body {
    font-family: 'lato', sans-serif;
}

.wrapper {    
    width: 900px;
    margin: 0  auto;
}

header {
    padding: 50px 0;    
}

.main-content {
    background-color: var(--background-main);
    padding: 20px;
    border-radius: 16px;;
}

h1 {
    color: var(--title);
    font-size: 10rem;
    font-family: 'kanit', sans-serif;    
    font-weight: 900;
    text-align: center;
}

h2 {
    color: var(--subtitle);
    font-size: 4.5rem;
    font-family: 'teko', sans-serif;
    line-height: 4rem;
    text-align: center;
}

.subtitle {

}

p {
    font-size: 1.5rem;;
    line-height: 1.8rem;
    color: var(--regular);
}

.you {
    text-underline-position: below;
    text-decoration: underline;
    text-decoration-color: var(--title);
}